body{
    /*background: linear-gradient(2deg, #485854, #ebfffa, #829692);*/
    background: url("../img/hahh-malandro-achou-uma-resposta.gif")no-repeat center center fixed;
    background-size: cover;
    -webkit-animation: AnimationName 30s ease infinite cover;
    -moz-animation: AnimationName 30s ease infinite cover;
    -o-animation: AnimationName 30s ease infinite cover;
    animation: AnimationName 30s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes AnimationName { 
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}

.logo,.formulario{
    transition: 0.8s; /*tempo de transição entre mudanças que este sofrer*/
}

@media(max-width:767px){
    .logoP{
        width:50%;
        height: auto;
    }
}

@media(min-width: 768px){
    .formulario{ width:70%;}
}
@media(max-width: 767px){
    .formulario{ width:80%;}
}

.error{color:red;}

input[type="text"].error,input[type="password"].error{ background-color: #1f142c; }

.img-btn-chat{
    color: white;
}
.btn-chat{
    border-color: white;
}

.porta-mural-home{    
    padding-left: 0px;
    height:160px;
    overflow: hidden;
}
.porta-mural-home iframe{
    width: 100%;
    height: 100%;
    overflow: hidden;
    frameborder:none;
    border:none;
}
.mural-home span{
    text-decoration: underline;
    font-size: small;
    color:white;
}
.mural-home .us1,.us11,.us21,.us31,.us41{
    color:#118d24;
}
.mural-home .us2,.us12,.us22,.us32,.us42{
    color:#b8d112;
}
.mural-home .us3,.us13,.us23,.us33,.us43{
    color:#d112c8;
}
.mural-home .us4,.us14,.us24,.us34,.us44{
    color:#d12d12;
}
.mural-home .us5,.us15,.us25,.us35,.us45{
    color:#12d18e;
}
.mural-home .us6,.us16,.us26,.us36,.us46{
    color:#f594e6;
}
.mural-home .us7,.us17,.us27,.us37,.us47{
    color:#c3f594;
}
.mural-home .us8,.us18,.us28,.us38,.us48{
    color:#94e0f5;
}
.mural-home .us9,.us19,.us29,.us39,.us49{
    color:#f0ed0e;
}
.mural-home .us10,.us20,.us30,.us40,.us50{
    color:#f00e16;
}
.mural-home li{
    list-style-type: none;
    
}
.nav-chat-header-button{
    width: 100px;
    height: 30px;
    position:absolute;
    top:-15px;
    left:50%;
    transform: translate(-50%,-50%);
    border: 2px solid #c0b3b3;
    border-bottom: none;
    border-radius: 5px;
    background-color:#222;
    cursor:pointer;
    text-align: center;
}
.nav-chat{
        width: 100%;
        height: 200px;
        background-color: #222;
        position:fixed;
        bottom: -190px;
        border-top: 2px solid #c0b3b3;
        transition: 0.8s; /*tempo de transição entre mudanças que este sofrer*/
    }
    .chat-controller .campo-mensagem{
        width: 78%;
        float: left;
    }
    .chat-controller .campo-botao{
        width: 20%;
        float: left;
    }

    
@media(min-width: 767px){
    .nav-chat{
        width: 100%;
        height: 200px;
        background-color: #222;
        position:fixed;
        bottom: 0px;
    }
}

.porta-form{
    padding:30px 20px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
}
.amarelo{
    background-color: rgba(255,255,12,0.5);
}
.rosa{
    background-color: rgba(203,56,194,0.5);
}
.azul{
    background-color: rgba(18,73,148,0.5);
}
.panel-danger .panel-heading{
    background-color: #890c0c;;
    border-color:#890c0c;
    color:white;
}