
.mural-home span{
    text-decoration: underline;
}
.mural-home .us1,.us11,.us21,.us31,.us41{
    color:#118d24;
}
.mural-home .us2,.us12,.us22,.us32,.us42{
    color:#b8d112;
}
.mural-home .us3,.us13,.us23,.us33,.us43{
    color:#d112c8;
}
.mural-home .us4,.us14,.us24,.us34,.us44{
    color:#d12d12;
}
.mural-home .us5,.us15,.us25,.us35,.us45{
    color:#12d18e;
}
.mural-home .us6,.us16,.us26,.us36,.us46{
    color:#f594e6;
}
.mural-home .us7,.us17,.us27,.us37,.us47{
    color:#c3f594;
}
.mural-home .us8,.us18,.us28,.us38,.us48{
    color:#94e0f5;
}
.mural-home .us9,.us19,.us29,.us39,.us49{
    color:#f0ed0e;
}
.mural-home .us10,.us20,.us30,.us40,.us50{
    color:#f00e16;
}
.mural-home li{
    list-style-type: none;
    font-size: small;
    color:white;
}